.line-graph{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;

}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;

}
.search-button{
    border-radius: 24px;
}
.search-button:hover{
    background-color: lightcoral;
}
.line-graph-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.download-button{
    border-radius: 8px;
    font-size: xx-larger;
}
.predict-stock-button{
    border-radius: 8px;
    color: white;
    background-color: #de6e4b;
    font-size: x-larger;
}
.prediction-response{
    max-height: 200px;
    overflow-y: scroll;
}