.line-graph{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 auto;

}

.search{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;

}
.search-button{
    border-radius: 24px;
}
.search-button:hover{
    background-color: lightcoral;
}