.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: large;
  font-family: monospace;
}
.menu-search-bar{
  border: 0px;
  border-radius: 4px;
  background-color: #F6F6F6;
  
}
.menu-search-bar:focus {

  background-color: 	whitesmoke;
  border: 0px white solid;
  border-radius: 0px;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 30px; 
  transform: translateY(-50%);
  pointer-events: none;
}

.navbar div {
  display: flex; 
  align-items: center; 
}

.navbar a, .navbar input {
  text-decoration: none;
  color: black;
  animation: border 0.5s;
}

.navbar a:hover {
  position: relative;
  color: black;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 0;
  background-color: #de6e4b;
  transition: width 0.7s;
}

.navbar a:hover::after {
  width: 100%;
  height: 3px; 
}