
.Search-bar {
  border-radius: 16px;
  border: 2px #de6e4b solid;
}
.Search-bar:hover {
  background: -webkit-linear-gradient(right, #7fd1b9, #de6e4b);
}
.search-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #7fd1b9;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.search-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-result div {
  margin-bottom: 5px;
}