.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.financial-summary-banner{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;

    background-color: black;
    color: whitesmoke;
    padding: 50px 0px;
}
.banner-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stock-price-info{
    display: flex;
    flex-direction: row;
    justify-content:initial;
}
.stock-full-name{
    font-size: 35px;
    font-weight: bolder;
}
.stock-ticker{
    font-size: medium;
    font-weight: bolder;
    border :1px white solid;
}
.stock-price{

}

.stock-price-change{
    font-size: large;
    color: aquamarine;
}