* {
  
}
body {
  font-family: monospace;
  max-width: 1280px;
}

.container {
  display: flex;
  justify-content: space-between; /* Creates space between the containers */
  border-radius: 24px;
  /* border: 1px black solid; */
  margin: 5px 0px;
}

.left-container,
.right-container {
  border-radius: 16px;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
}

.left-container {
  width: 500px;
  height: 420px;

  /* border: 1px black solid; */
}

.right-container {
  width: 550px;
  height: 420px;
  display: flex;
  flex-direction: column;
}
.non-color-change {
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 70px;
  line-height: 55px;
  padding: 0px;
  margin: 0px;
}
.color-change {
  font-size: 70px;
  background: -webkit-linear-gradient(left, #7fd1b9, #de6e4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;

  line-height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}
.introduction {
  font-size: 18px;
  padding-left: 0px;
}
.predict-button {
  width: 212px;
  height: 74px;
  border-radius: 24px;
  border: 0px white solid;
  background-color: #7fd1b9;
  font-weight: 400px;
  font-size: 18px;
  margin-top: auto;
  box-shadow: 4px 4px 6px 0px #00000040;
}
.predict-button:hover {
  background: -webkit-linear-gradient(left, #7fd1b9, #de6e4b);
  border: 2px #7fd1b9 double;
}

.right-container-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.toggle-button {
  background-color: #7fd1b9;
  color: #fff;
  border:1px white solid;
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition:  background-color 0.3s ease,border 0.3s ease ,box-shadow 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.toggle-button.top-toggle {
  background-color:  #f0a578; 
  box-shadow: 2px 2px #f0a578;
}

.toggle-button.bottom-toggle {
  background-color:#7fd1b9;
  box-shadow: 2px 2px #7fd1b9; 
}
.toggle-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.title-stock {
  font-size: 20px;
  font-weight: bold;

}

.bottom-container {
  display: flex;
  justify-content: space-between; /* Creates space between the containers */
  border-radius: 24px;
  /* border: 1px black solid; */
  margin: 30px 0px;
  width: 100;
  height: 360px;
}
.bottom-left-text-container,
.bottom-right-text-container {
  padding-top: 0px;

  border-radius: 8px;
  /* border: 1px black solid; */
  width: 624px;
  height: 320px;
  background-color: #de6e4b;
  margin: 5px 20px;
  color: white;
  box-shadow: 4px 4px 6px 0px #00000040;
}
.text-titles {
}
.text-lists {
  font-size: 18px;
  line-height: 22px;
}

.Graphs-container {
  display: flex;
  justify-content: space-between; /* Creates space between the containers */
  border-radius: 24px;
  /* border: 1px black solid; */
  margin: 30px 0px;
  width: 100;
  height: 360px;
}
.bottom-left-graph-container,
.bottom-right-graph-container {
  padding-top: 0px;

  border-radius: 8px;
  /* border: 1px black solid; */
  width: 624px;
  height: 320px;
  background-color: #7fd1b9;
  margin: 5px 20px;
  color: white;
  box-shadow: 4px 4px 6px 0px #00000040;
}