* {
  
}
body {
  font-family: monospace;
  max-width: 1280px;
}

.container {
  display: flex;
  justify-content: space-between; 
  border-radius: 24px;
  /* border: 1px black solid; */
  margin: 5px 0px;
}

.left-container,
.right-container {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.left-container {
  width: 500px;
  height: 420px;

  /* border: 1px black solid; */
}

.right-container {
  width: calc(50% - 5px);
  height: 50%;
  display: flex;
  flex-direction: column;

  padding: 0;
}
.non-color-change {
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 70px;
  line-height: 55px;
  padding: 0px;
  margin: 0px;
}
.color-change {
  font-size: 70px;
  background: -webkit-linear-gradient(left, #7fd1b9, #de6e4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;

  line-height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}
.introduction {
  font-size: 18px;
  padding-left: 0px;
}
.predict-button {
  color: #fff;
  text-decoration: none;
  width: 212px;
  height: 74px;
  border-radius: 24px;
  border: 1px white solid;
  background: -webkit-linear-gradient(left, #7fd1b9, #de6e4b);
  font-weight: 400px;
  font-size: 18px;
  margin-top: auto;
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.predict-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

}

.right-container-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.toggle-button {
  background-color: #7fd1b9;
  color: #fff;
  border:1px white solid;
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition:  background-color 0.3s ease,border 0.3s ease ,box-shadow 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.toggle-button.top-toggle {
  background-color:  #f0a578; 
  box-shadow: 2px 2px #f0a578;
}

.toggle-button.bottom-toggle {
  background-color:#7fd1b9;
  box-shadow: 2px 2px #7fd1b9; 
}
.toggle-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.title-stock {
  font-size: 20px;
  font-weight: bold;

}

.bottom-container {
  display: flex;
  justify-content: space-between; /* Creates space between the containers */
  border-radius: 24px;
  /* border: 1px black solid; */
  padding: 20px 0px;
  margin: 20px;
  max-width: 100%;
  height: inherit;
}
.bottom-left-text-container,
.bottom-right-text-container {
  width: calc(50% - 40px);
  padding: 10px;
  background-color: #7fd1b9;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the text titles */
.text-titles {
  font-size: 29px;
  font-weight: bold;
  color: #FEFDED;
  margin-bottom: 20px;
}

/* Styling for the text lists */
.text-lists {
  list-style-type: none;
  padding: 0;
}

/* Styling for the list items */
.text-lists li {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

/* Styling for the hover effect */
.text-lists li:hover {
  color: #FEFDED;
  cursor: pointer;
}