.daily-view {
  /* border: 5px rgb(0, 0, 0) solid; */
}
.refresh-button {
  background-color: #7fd1b9;
  border-radius: 24px;
  border: 1px rgb(255, 255, 255) solid;
  padding: 10px;
  margin: 5px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.refresh-button:hover {
  background: -webkit-linear-gradient(left, #7fd1b9, #de6e4b);
  
}
