.Menu{
    padding-left: 100px;
    padding-top: 0px;
    justify-items: left;

}
.Menu a {
    float: right;
    text-align: right;
    padding-top: 25px;
    color: white;
    text-decoration:solid;
    font-size: 35px;
    
}
.Logo{
    padding-top: 10px;
    border-radius: 50%;
    width: 200px;
}