.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.Menu li {
    float:left;
}
.Menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Menu li a:hover {
    background-color:rgb(21, 80, 122)A6D;
}

.Menu li a:active {
    background-color: rgb(113, 25, 131)A6D;
}
.register-button{
    background-color: blueviolet;
    float: right;
}