.Menu {
  border-color: black;
  border-radius: 50%;
}

.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: bisque;
  border-radius: 5%;
  display: inline-flex;
}
.Menu li {
  float: inline-start;
  background-color: burlywood;
}
.Menu a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Menu li a {
  font-size: large;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Menu li a:hover {
  color: rgb(21, 80, 122) A6D;
}

.Menu li a:active {
  background-color: rgb(113, 25, 131) A6D;
}
.register-button {
  background-color: darkolivegreen;
  float: right;
}
/* Home */
